MONGODB_URI = uri
SECRET = randomstring

#ImageKit COnfiguration
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY = key
IMAGEKIT_PRIVATE_KEY = privatekey
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT = https://ik.imagekit.io/appid